:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a1929;
}

::-webkit-scrollbar-thumb {
  background: #132f4c;
  border-radius: 5px;
  border: 1px solid rgba(0, 229, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: #00e5ff;
}
